extends layout/app.pug
block vars
	- var titlePage = 'Library';
	- var isInternal = true;
block content
	// main
	main#contenPrimary
		+internalBanner("img/bannerWebinars.jpg","Library","If you are unable to attend the live webinar, all webinars are posted in our webinar archive shortly after the event.")
		.libraryMenuTop
			ul
				li 
					a(href="")
						img(src="img/libraries_cat_03.png")
						span HOME
				li 
					a(href="")
						img(src="img/libraries_cat_05.png")
						span PUBLICATIONS
				li 
					a(href="")
						img(src="img/libraries_cat_07.png")
						span WEBINARS
				li 
					a(href="")
						img(src="img/libraries_cat_09.png")
						span TRAINING VIDEOS
				li 
					a(href="")
						img(src="img/libraries_cat_11.png")
						span TOOLS
				li 
					a(href="")
						img(src="img/libraries_cat_13.png")
						span PROTOCOLS
		.container
			.col-md-4
				.libraryMenuLeft
					h3 Resources
					ul
						li
							a.active(href="#") Adolescents
						li
							a(href="#") Advocacy
						li
							a(href="#") Alternative Reporting Methods
						li
							a(href="#") Body Worn Cameras and VAW
						li
							a(href="#") Campus Responses
						li
							a(href="#") Case Review
						li
							a(href="#") Child Abuse
						li
							a(href="#") Child Sex Trafficking
						li
							a(href="#") Children Exposed to IPV
						li
							a(href="#") Civil Legal
						li
							a(href="#") Cold Cases
						li
							a(href="#") Confidentiality
						li
							a(href="#") Crime Scene
						li
							a(href="#") Crime Victim Compensation
						li
							a(href="#") DNA
						li
							a(href="#") Drug Facilitated Sexual Assault
						li
							a(href="#") Economic Impact
						li
							a(href="#") Elder Abuse
						li
							a(href="#") Expert Witnesses
						li
							a(href="#") Faith-Based Resources
						li
							a(href="#") False Report/Unfounded
						li
							a(href="#") Female Genital Mutilation
						li
							a(href="#") Forensic Compliance
						li
							a(href="#") Forensic Evidence
						li
							a(href="#") Gender Bias
						li
							a(href="#") Gender Justice
						li
							a(href="#") Human Trafficking
						li
							a(href="#") Immigrant Communities
						li
							a(href="#") Intimate Partner Violence
						li
							a(href="#") Investigating IPV
						li
							a(href="#") Investigating Sexual Assault
						li
							a(href="#") Law Enforcement Misconduct
						li
							a(href="#") Law Enforcement Organizations
						li
							a(href="#") LGBTQ Community
						li
							a(href="#") Male Victims
						li
							a(href="#") Mandated Reporting
						li
							a(href="#") Media
						li
							a(href="#") Medical/Forensic Exam
						li
							a(href="#") Memory
						li
							a(href="#") Military
						li
							a(href="#") Non-Investigative Reports
						li
							a(href="#") OnLine Training Institute
						li
							a(href="#") Organizations
						li
							a(href="#") People with Disabilities
						li
							a(href="#") Pretext Phone Calls
						li
							a(href="#") Prevention
						li
							a(href="#") Prison System
						li
							a(href="#") Prosecution
						li
							a(href="#") Protection Order
						li
							a(href="#") Rape Shield Statutes
						li
							a(href="#") Rural Communities
						li
							a(href="#") SA and Homelessness
						li
							a(href="#") SA in Indian Country
						li
							a(href="#") SA Kit Backlog
						li
							a(href="#") Safety Planning
						li
							a(href="#") SARRT
						li
							a(href="#") Sexual Assault Victimization
						li
							a(href="#") Sexual Offenders
						li
							a(href="#") Stalking
						li
							a(href="#") Start by Believing
						li
							a(href="#") State Specific Resources
						li
							a(href="#") Statistics / Data
						li
							a(href="#") Strangulation
						li
							a(href="#") Survivor Resources
						li
							a(href="#") Survivors &amp; Birth
						li
							a(href="#") Technology
						li
							a(href="#") Teen Dating Violence
						li
							a(href="#") Training Bulletins
						li
							a(href="#") Training Videos
						li
							a(href="#") Trauma
						li
							a(href="#") VAW &amp; Substance Abuse
						li
							a(href="#") VAWA
						li
							a(href="#") Vicarious Trauma
						li
							a(href="#") Victim Blaming
						li
							a(href="#") Victim Notification
						li
							a(href="#") Victims' Rights
						li
							a(href="#") binars
			.col-md-8
				h1.title_library Adolescents
				article.article_library
					h2 40-Hour Online Adolescent/Adult Training Program
					a(href="") OPEN LINK
				article.article_library
					h2 Sexual Assault in Dating Relationships
					a(href="") VIEW DOCUMENT
				article.article_library
					h2 College-Aged but On the Streets; Young Adults Who Experience Homelesness and Sexual
					a(href="") OPEN LINK
				article.article_library
					h2 Sexual Assault in Dating Relationships
					a(href="") OPEN LINK
				article.article_library
					h2 40-Hour Online Adolescent/Adult Training Program
					a(href="") VIEW DOCUMENT
				article.article_library
					h2 Sexual Assault in Dating Relationships
					a(href="") OPEN LINK
				article.article_library
					h2 College-Aged but On the Streets; Young Adults Who Experience Homelesness and Sexual
					a(href="") OPEN LINK
				article.article_library
					h2 Sexual Assault in Dating Relationships
					a(href="") OPEN LINK
				article.article_library
					h2 40-Hour Online Adolescent/Adult Training Program
					a(href="") OPEN LINK
				article.article_library
					h2 Sexual Assault in Dating Relationships
					a(href="") OPEN LINK
				article.article_library
					h2 College-Aged but On the Streets; Young Adults Who Experience Homelesness and Sexual
					a(href="") OPEN LINK
				article.article_library
					h2 Sexual Assault in Dating Relationships
					a(href="") OPEN LINK
				article.article_library
					h2 40-Hour Online Adolescent/Adult Training Program
					a(href="") VIEW DOCUMENT
				article.article_library
					h2 Sexual Assault in Dating Relationships
					a(href="") OPEN LINK
				article.article_library
					h2 College-Aged but On the Streets; Young Adults Who Experience Homelesness and Sexual
					a(href="") OPEN LINK
				article.article_library
					h2 Sexual Assault in Dating Relationships
					a(href="") OPEN LINK
				article.article_library
					h2 40-Hour Online Adolescent/Adult Training Program
					a(href="") VIEW DOCUMENT
				article.article_library
					h2 Sexual Assault in Dating Relationships
					a(href="") OPEN LINK
				article.article_library
					h2 College-Aged but On the Streets; Young Adults Who Experience Homelesness and Sexual
					a(href="") OPEN LINK
				article.article_library
					h2 Sexual Assault in Dating Relationships
					a(href="") OPEN LINK
				article.article_library
					h2 40-Hour Online Adolescent/Adult Training Program
					a(href="") OPEN LINK
				article.article_library
					h2 Sexual Assault in Dating Relationships
					a(href="") OPEN LINK
				article.article_library
					h2 College-Aged but On the Streets; Young Adults Who Experience Homelesness and Sexual
					a(href="") OPEN LINK
				article.article_library
					h2 Sexual Assault in Dating Relationships
					a(href="") OPEN LINK
