extends layout/app.pug
block vars
	- var titlePage = 'Shop';
	- var isInternal = true;
block content
	// main
	main#contenPrimary
		+internalBanner("img/bannerShop.jpg","Shop","International shipping charges may apply: If you live outside of the U.S.A., we will notify you if you are subject to international shipping charges and let you know how much it will be prior to sending your order.")
		.container.webinars_aricle.active
		.container
			.row.item_shop
				.col-md-4.noPadding
					article
						h2 EVAWI & SBB Hooded Sweatshirt-Black
						p Port Authority, 50% Cotton/50% Polyester, with Start By Believing logo on chest and End Violence Against Women International logo on back.
						.wrappOption
							label COLORS
							ul
								li
									input(type="radio",name="color")
									span.orange
								li
									input(type="radio",name="color")
									span.grey
								li
									input(type="radio",name="color")
									span.green
						a(href="#") BUY FOR $38
					.wrapper_img
						img.img-responsive.center-block(src="img/product_shop_1.jpg")
				.col-md-4.noPadding
					.wrapper_img
						img.img-responsive.center-block(src="img/product_shop_2.jpg")
					article
						h2 EVAWI & SBB Hooded Sweatshirt-Black
						p Port Authority, 50% Cotton/50% Polyester, with Start By Believing logo on chest and End Violence Against Women International logo on back.
						.wrappOption
							label COLORS
							ul
								li
									input(type="radio",name="color")
									span.orange
								li
									input(type="radio",name="color")
									span.grey
								li
									input(type="radio",name="color")
									span.green
						a(href="#") BUY FOR $38
				.col-md-4.noPadding
					article
						h2 EVAWI & SBB Hooded Sweatshirt-Black
						p Port Authority, 50% Cotton/50% Polyester, with Start By Believing logo on chest and End Violence Against Women International logo on back.
						.wrappOption
							label COLORS
							ul
								li
									input(type="radio",name="color")
									span.orange
								li
									input(type="radio",name="color")
									span.grey
								li
									input(type="radio",name="color")
									span.green
						a(href="#") BUY FOR $38
					.wrapper_img
						img.img-responsive.center-block(src="img/product_shop_3.jpg")

