extends layout/app.pug
block vars
	- var titlePage = 'Webinars';
	- var isInternal = true;
block content
	// main
	main#contenPrimary
		+internalBanner("img/bannerWebinars.jpg","Webinars","If you are unable to attend the live webinar, all webinars are posted in our webinar archive shortly after the event.")
		.container.webinars_aricle.active
			.row
				.col-md-6.noPadding
					img.img-responsive.center-block(src="img/resouces_aricle.jpg")
				.col-md-6
					article
						span.day Thursday
						h2 Reading Between the Lines: Case File Review for SARTs Webinar
						.date September 27th, 2018
						ul
							li 
								strong 9:00 AM PT
							li 10:00 AM MT
							li 11:00 AM CT
							li 12:00 PM ET
						.wrapp_btn
							a.violet(href="#") READ MORE
							a.blue(href="#") REGISTER NOW
		.container.webinars_aricle
			.row
				.col-md-4.noPadding
					img.img-responsive.center-block(src="img/resouces_aricle.jpg")
				.col-md-8
					article
						span.day Wednesday
						h2 Trauma Informed Interviewing - Turning Understanding into Outcomes Webinar
						.date October 24th, 2018
						ul
							li 
								strong 9:00 AM PT
							li 10:00 AM MT
							li 11:00 AM CT
							li 12:00 PM ET
						.wrapp_btn
							a.violet(href="#") READ MORE
							a.blue(href="#") REGISTER NOW
		.container.webinars_aricle
			.row
				.col-md-4.noPadding
					img.img-responsive.center-block(src="img/resouces_aricle.jpg")
				.col-md-8
					article
						span.day Thursday
						h2 Uncovering Sexual Assault in Domestic Violence Calls: An Improved Law Enforcement Response to Assess for Sexual Violence
						.date September 24th, 2018
						ul
							li 
								strong 9:00 AM PT
							li 10:00 AM MT
							li 11:00 AM CT
							li 12:00 PM ET
						.wrapp_btn
							a.violet(href="#") READ MORE
							a.blue(href="#") REGISTER NOW
		.container.webinars_aricle
			.row
				.col-md-4.noPadding
					img.img-responsive.center-block(src="img/resouces_aricle.jpg")
				.col-md-8
					article
						span.day Thursday
						h2 Reduce Attrition Rates of Sexual Assault Through Proper Charging Decisions and Effective Jury Selection Webinar
						.date September 15th, 2018
						ul
							li 
								strong 9:00 AM PT
							li 10:00 AM MT
							li 11:00 AM CT
							li 12:00 PM ET
						.wrapp_btn
							a.violet(href="#") READ MORE
							a.blue(href="#") REGISTER NOW
					