//Bootstrap core JavaScript
//Placed at the end of the document so the pages load faster
footer#primaryFooter
	.container
		.col-md-3
			h2 VISION STATEMENT
			p WE ENVISION A WORLD WHERE GENDER- BASED VIOLENCE IS UNACCEPTABLE,
			a.link_1(href="#") VICTIMLINK
			a.link_2(href="#") APPLY NOW
		.col-md-3
			h2 START BY BELIEVING
			p FOR MORE INFORMATION ON HOW YOU CAN LAUNCH A CAMPAIGN, PLEASE VISIT OUR START BY BELIEVING WEBSITE.
			span 
				a(href="#") www.startbybelieving.org
		.col-md-3
			h2 TECHNICAL ASSISTANCE
			p WITH SUPPORT FROM THE OFFICE ON VIOLENCE AGAINST WOMEN (OVW),
			a.link_2(href="#") 
				i.fa.fa-plus-circle(aria-hidden="true")
				| ASSISTANCE
		.col-md-3
			h2 FEATURED LINKS
			ul
				li FROM THE TRENCHES OF EVAWI BLOG
				li FORENSIC COMPLIANCE
				li BEST PRACTICES
				li ARCHIVED WEBINARS 
				li ANNUAL REPORT
#afterFooter
	p © 2018 Evawi - Digitalbarr

script(src='js/libraries/jquery-3.3.1.min.js')
script(src='js/libraries/bootstrap.min.js')
script(src='js/libraries/slick.min.js')
script(src='js/libraries/slick-animation.min.js')
script(src='js/libraries/aos.js')
script(src='https://use.fontawesome.com/c23f3f5163.js')
script(src='js/scripts.js')